.page-contain {
  padding: 5px;
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  //border-left: 1px solid gray; /* 左边边框线 */
  //border-right: 1px solid gray; /* 右边边框线 */
  //border-top: none; /* 上边无边框线 */
  //border-bottom: 1px solid gray; /* 下边无边框线 */
  //margin: auto;
  margin: 10px auto;
  flex-grow: 1;
  width: 60vw;

  .form {
      margin: 20px 10px 30px;

      .input {
      position: relative;
    }

    .button {
      position: absolute;
      margin-top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
